*{
    padding: 0;
    margin: 0;
}
ul{
    list-style-type: none;
    display: block;
}
a{
    color:#000000;
}
body{
    height: 100vh;
    width: 100%;
    background-color: #413b4b;
    color: #2b292b;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container{
    position: relative;
    height: 600px;
    width: 520px;
    background-color: #F4EDF8;
    border-radius: 20px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.settings{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}
.container_header{
    width: 65%;
    padding: 22px;
    font-family: monospace;
}
.value{
    width: 90%;
    height: 15%;
    text-align: center;
}
.value span{
    padding-top: 20px;
    margin: auto;
    display: block;
    width: 80%;
    height: 2px;
    border-bottom: 6px solid #00a2ff;
}
.value input{
    font-size: 20px;
    font-family: monospace;
    border: 1px solid #2b292b;
    background-color: #413b4b;
    color: #F4EDF8;
    width: 90%;
    height: 70%;
    text-align: center;
}
.range_info{
    display: flex;
    justify-content: space-between;
}
.range_info *{
    padding: 8px;
}
.settings_range{
    padding-top: 35px;
    width: 100%;
}

.settings_range input{
    width: 98.25%;
}
.settings_list{
    white-space: nowrap;
    display: flex;
    flex-flow: column nowrap;
    margin-top: 20px;
    width: 100%;
    height: 220px;
}
.settings_list ul{
    height: 80%;
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
}
.settings_list ul li{
    width: calc(100%/2);
    height: 30%;
    text-overflow: clip;
    margin-top: 4px;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.option{
    text-align: start;
    white-space: nowrap;
}
.option input{
    height: 15px;
    transform: scale(1.6);
    margin: 10px;
}
button{
    position: absolute;
    background-color: #2b292b;
    font-family: monospace;
    color: #F4EDF8;
    border: none;
    height: 70px;
    width: 340px;
    font-size: 20px;
    border: 2px solid #2b292b;
    transition: .4s;
    bottom: 45px;
}
button:hover{
    background-color: #F4EDF8;
    color: #413b4b;
    text-shadow: 5px 5px 5px #413b4b;
    border: 2px solid #413b4b;
}
button:active{
    background-color: #F4EDF8;
    color: #413b4b;
    text-shadow: 8px 8px 20px #413b4b;
    border: 2px solid #413b4b;
}
#lengthBar{
    transition: .3s;
    margin-top: 10px;
}
.settings_list ul li:first-child input, .settings_list ul li:first-child label{
    opacity: .7;
    pointer-events: none;
}
@media(max-width: 750px) {
    h4{
        position: absolute;
        top: -40px;
        color: #F4EDF8
    }
    .value_input{
        position: absolute;
        top: 15px;
    }
    .option input{
        margin: 0;
        margin-right: 5px;
        height: 10px;
    }
    .option label{
        font-size: 14px;
    }
    body{
        font-size: 16px;
    }
    .settings{
        width: 75%;
    }
    .value{
        width: 75%;
    }
    .container{
        height: 500px;
    }
    button{
        font-size: 16px;
        height: 40px;
        width: 260px;
    }
    .value input{
        font-size: 16px;
    }
}
